<!DOCTYPE html>
<html>
    <% include common/head.ejs %>
    <% include common/nav.ejs %>
    <body>
        <main>
            <div class="content">
                <h1>Kontakt Guldsmed Apel</h1>
                <p>
                    <div class="left_image">
                        <img src="<%=baseUrl%>/assets/images/slide1.jpg">
                        </div>
                        Guldsmed Apel • Store Kongensgade 58 • 1264 København K • Tlf. +45 33 13 28 31
                        Cvr nr. 17623397 <br><br>
                        
                        Vi ligger på hjørnet af Store Kongensgade og Dronningens Tværgade. Du kan parkere i Dronningegården eller i P-huset i Dronningens Tværgade.<br><br>
                        
                        Send en e-mail hvis du har spørgsmål: Klik her <br><br>
                        
                        Åbningstider
                        Mandag-fredag 10-17:30  •  Lørdag 10-14 </p>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8997.222005806852!2d12.5874042!3d55.6836762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8820e032e6462798!2sGuldsmed+Apel!5e0!3m2!1sen!2sdk!4v1547026454077" 
                   width="100%" height="450" frameborder="0" style="border:0" allowfullscreen id="googlemap"></iframe>
                   </div>                 
        </main>
        <% include common/footer.ejs %>
        
    </body>
</html>