<!DOCTYPE html>
<html>
    <% include common/head.ejs %>
    <% include common/header.ejs %>
<body>
    <main>
        <div class="content">
            <h1>Guldsmed i København siden 1933</h1>
            <p>
                <div class="left_image">
                    <img src="<%=baseUrl%>/assets/images/slide2.jpg">
                    </div>
                Vort ønske er at give dig en ganske særlig oplevelse. 
                Med ægte håndværk, kyndig vejledning og øje for det individuelle,
               skaber vi smykket der fortæller din historie.</p>
               </div>

               <div class="grey_line">
                    <div class="content">     
                         <p>
                             <h2>Udvalgte og håndlavede smykker</h2>
                            Vi tilbyder udvalgte kollektioner af smykker fra kendte designere.
                             Og vi håndplukker omhyggeligt unikke smykker fra små værksteder i
                             Danmark og andre dele af verden.</p>
                
                                    
                            <p><h2>Bioguld - Vi genanvender gammelt guld til vores smykker</h2>
                             Vi er bevidste om, at guldminedrift har konsekvenser for miljøet. Og
                                som designere og forhandlere af guldsmykker indser vi, at vi har et ansvar.
                                Derfor skaber vi vores designs af bioguld; gammelt guld som raffineres og
                                       genanvendes. </p>
                                    </div> 

               </div>
             <div class="content">    
                   
            <p><div class="right_image">
                    <img src="<%=baseUrl%>/assets/images/slide3.jpg">
                </div><h1> Besøg din guldsmed København</h1>
            Se vores smykker her på siden, kom forbi butikken eller kontakt din guldsmed 
             i København.
            
            
             
            </p>
        </div>
    </main>
    <% include common/footer.ejs %>
    
</body>
</html>