<!DOCTYPE html>
<html>
    <% include common/head.ejs %>
    <% include common/header.ejs %>
<body>
    <main>
        <div class="content">
            <h1>Diamanter og Smykker</h1>
        </div>        
        
    </main>
    <% include common/footer.ejs %>
    
</body>
</html>