<footer>
    <div class="footer_content">
            GULDSMED APEL | <br/>
            STORE KONGENSGADE 58 | <br/>
            1264 KØBENHAVN K | <br/>
            +45 33 13 28 31 | <br/>
            INFO@GULDSMEDAPEL.DK | <br/>
            CVR: 17623397 
    </div>
    <div class="footer_content">
            KJØBENHAVNS | <br/>
            GULDSMEDELAUG | <br/>
            KJØBENHAVNS GULDSMEDELAUG  GULDSMEDEFAGETS | <br/>
            FÆLLESRÅD | <br/>
            GULDSMEDEFAGETS FÆLLESRÅD |

    </div>

</footer>